/*ARTICLE*/
.text1{
	background-color: #b2b2fd;
	width: 300px;
    border: 25px solid #b2b2fd;
    padding: 25px;
    margin: 25px;
}

/*VOTE*/
#body_vote {
  background-color:  #fff780;
  min-height: 95vh;
  max-width: 100vw;
} 
 
 #body_vote #upperThirdVote {
  background-color: #e6d600;
  color: white;
  margin: 0 10% 0 10%;
  padding: 15px 5% 15px 10%;
}

#body_vote #upperThirdVote #title {
  font-family: RobotoBold;
  font-size: 260%;
  text-shadow: 0px 0px 3px white;
  line-height: 95%;
}

#body_vote #upperThirdVote #underTitleVote {
  padding-top: 5px;
  font-size: 95%;
  text-align: right;
}

#body_vote #innerBody {
  padding: 15px 5% 15px 5%;
  margin: 0 10% 0 10%;
  background-color: #fffccc;
  color: black;
  height: 100%;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left;
  font-size: 20px;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 2.1em;
}
.rating > span:hover,
.rating > span:hover ~ span {
  color: transparent;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   left: 0; 
   color: gold;
}


/*FILES*/
#body_files {
  background-color:  #99ff99;
  min-height: 95vh;
  max-width: 100vw;
} 
 
 #body_files #upperThirdFiles {
  background-color: green;
  color: white;
  margin: 0 10% 0 10%;
  padding: 15px 5% 15px 10%;
}

#body_files #upperThirdFiles #title {
  font-family: RobotoBold;
  font-size: 260%;
  text-shadow: 0px 0px 3px white;
  line-height: 95%;
}

#body_files #upperThirdFiles #underTitleFiles {
  padding-top: 5px;
  font-size: 95%;
  text-align: right;
}

#body_files #innerBody {
  padding: 15px 5% 15px 5%;
  margin: 0 10% 0 10%;
  background-color: #ccffcc;
  color: black;
  height: 100%;
}
