body {
  background: url('background.jpg');
  background-size: cover;
}
#bigTitle {
  font-family: RobotoBold;
  display: inline;
  font-size: 500%;
  color: white;
  line-height: 110%;
  text-align: right;
  text-shadow: 2px 1px 5px white;
  position: absolute;
  bottom: 10%;
  right: 1vw;
  max-width: 90%;
  padding: 3vh 1vw 3vh 0;
  background-color: rgba(5, 5, 171, 1);
}
