@import "style";

.sectionare {
    background-color: #b2b2fd;
    width: 200px;
    border: 25px solid #b2b2fd;
    padding: 25px;
    margin: 25px;
}

tr:hover
{
	background-color: lighten(@lsacBlue,45%);
}

#body {
  .body (@lsacBlue);
} 