@import "style";

tr:hover
{
	background-color: lighten(@lsacYellow,45%);
}

#body {
  .body (@lsacYellow);
} 

a
{
	text-decoration: none;
	color: black;
}

.option{
	background-color: lighten(@lsacYellow,30%);
	margin: 5px 5px 5px 0px;
    padding: 5px 5px 5px 5px;
    color: black; 
    display: inline-block;
    text-decoration: none;

}
.option:hover {
    background-color: @lsacYellow;
    color: black;
}

.poll 
{
	background-color: lighten(@lsacYellow,40%);
	margin: 5px 5px 5px 0;
	padding: 5px 5px 5px 5px;
}